.cus-bg-color{
    background-color: #ffffff;
}
.service-box{
    background-color: #EAF5FF;
    border-radius: 30px;
}
.box-color-seond{
    background-color: #EAF5FF;
}
.service-box-second{
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 30px;
    height: 270px;
    border-radius: 30px;
}