.header-img {
    max-width: 420px; 
    height: auto; 
}
.header2-img {
    max-width: 350px; 
    height: auto; 
}
.text-section {
    text-align: left;
}
.text-section2 {
    text-align: right;
}
.grou4img{
    max-width: 1000px; 
    height: auto; 
}