<div class="background">
    <div class="container">
        <div class="row " style="height: 85vh;">
            <div class="col  align-content-center text-center " style="background-color: #EAF5FF;">
                <img src="assets/images/Logo 2.png" alt="" height="120px">
            </div>
            <div class="col align-content-center text-center px-5">
                <img src="assets/images/CheckCircle.png" alt="">
                <p class="fs-4 fw-bold">Payment Confirmed</p>
                <p class="display-5 fs-6"> Thank you john for buying medicine. Now that your order is confirmed it will
                    be ready to ship in 2
                    days. Please check your email in the future for your order updates.</p>
                <button class="btn btn-primary" style="width: 200px;">Back to shopping</button>
            </div>

        </div>
    </div>
</div>