<!-- src/app/hero/hero.component.html -->
<div style="background-color: #EAF5FF;">
    <div class="hero bg-dark text-white d-flex align-items-center justify-content-center"
        style="height: 70vh; background-image: url('/assets/images/aboutUs.png'); background-size: cover; background-position: center;">
        <div class="col-1"></div>
        <div class="col-5">
            <img src="https://images.unsplash.com/photo-1580281657529-557a6abb6387?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="" alt="..." style="border-radius:15px;height: auto; width: 600px;">
        </div>
        <div class="align-left col-6 pe-5 pt-5">
            <h1 class="display-4 fw-bold ">About Us</h1>
            <br>
            <p class="lead">Welcome to “e-Pharma” Pharmacy Center, your trusted partner in health and wellness. We are
                dedicated to revolutionizing the pharmacy experience through technology and personalized care. </p>
        </div>
    </div>

    <div class="container my-5">
        <div class="row text-center mb-4">
            <div class="col mt-4">
                <p class="header-text" style="line-height: 1.2; font-size: 2rem;">What We Offer</p>
                <img src="assets/images/Frame.png" alt="Offer Image" class="header-img1">
            </div>
        </div>
    </div>
    <div class="container px-5">
        <div class="container ">
            <div class="row align-items-center py-5">
                <div class="col-1"></div>
                <div class="col-md-5 text-section">
                    <p class="display-6 fw-bold k-textcolor">Comprehensive Medication Management</p>
                    <hr class="mb-2 mt-0 d-inline-block mx-auto"
                        style="width: 300px; background-color: #1E3C72; height: 3px" />
                    <p style="font-size: 18px;">From prescriptions to over-the-counter solutions, we ensure timely and
                        accurate medication delivery.</p>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <img src="assets/images/group1.png" alt="Offer Image" class="header-img">
                </div>
            </div>
        </div>

        <div class="container ">
            <div class="row align-items-center ">
                <div class="col-md-6 d-flex justify-content-center">
                    <img src="assets/images/group2.png" alt="Offer Image" class="header-img">
                </div>
                <div class="col-md-5 text-section2">
                    <p class="display-5 fw-bold k-textcolor">Secure and Easy-to-Use Platform</p>
                    <hr class="mb-2 mt-0 d-inline-block mx-auto"
                        style="width: 300px; background-color: #1E3C72; height: 3px" />
                    <p style="font-size: 18px;">Our user-friendly system is designed with your privacy <br>and
                        convenience in mind.</p>
                </div>
                <div class="col-1"></div>

            </div>
        </div>

        <div class="container ">
            <div class="row align-items-center py-5">
                <div class="col-1"></div>
                <div class="col-md-5 text-section">
                    <p class="display-6 fw-bold k-textcolor">Expert Pharmacists</p>
                    <hr class="mb-2 mt-0 d-inline-block mx-auto"
                        style="width: 300px; background-color: #1E3C72; height: 3px" />
                    <p style="font-size: 18px;">Our team of licensed professionals is always ready <br>to assist with
                        any of your pharmaceutical needs.</p>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <img src="assets/images/group3.png" alt="Offer Image" class="header-img">
                </div>
            </div>
        </div>
    </div>

    <div id="contactForm" class="col bg-white py-2" >
        <div class="container my-5">
            <div class="row text-center mb-4">
                <div class="col mt-4">
                    <p class="header-text" style="line-height: 1.2; font-size: 2rem;">Contact Form</p>
                    <img src="assets/images/Frame.png" alt="Offer Image" class="header-img1">
                </div>
            </div>
        </div>
        <div class="conatiner mb-5">
            <div class="row pt-5">
                <div class="col-1"></div>
                <div class="col-5">
                    <div class="col ps-5">
                        <p class="fs-4 fw-medium">New RS Medical Pharmacy</p>
                        <p style="line-height: 0.5rem;">55 /A Balapokuna Road Colombo - 6, Colombo 00600</p>
                        <p> Tel : 0112 763 000</p>
                        <p> Hotline : 072 922 6596</p>
                        <img src="https://natgen.com.au/wp-content/uploads/2022/06/slide3-gd21.jpg" class="" alt="..." style="border-radius:15px;height: auto; width: 450px;">
                    </div>
                </div>
                <div class="col-6 p-3">
                    <form class="row g-3">
                        <div class="col-md-10">
                          <label for="inputEmail4" class="form-label">Full Name</label>
                          <input type="text" class="form-control" id="inputEmail4">
                        </div>
                        <div class="col-md-10">
                          <label for="inputPassword4" class="form-label">Email</label>
                          <input type="email" class="form-control" id="inputPassword4">
                        </div>
                        <div class="col-10">
                          <label for="inputAddress" class="form-label">Subject</label>
                          <input type="text" class="form-control" id="inputAddress">
                        </div>
                        <div class="col-10">
                          <label for="inputAddress2" class="form-label">Your Message</label>
                          <textarea class="form-control" id="inputAddress2" rows="4"></textarea>
                        </div>
                        
                        <div class="col-10">
                          <button type="submit" class="btn btn-primary px-5 py-2">Submit</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
