.header-img {
    width: 400px;
    max-width: 400px; 
    height: auto; 
}
.header-img1 {
    width: 300px;
    max-width: 300px; 
    height: auto; 
}
.text-section {
    text-align: left;
}
.text-section2 {
    text-align: right;
}
.grou4img{
    max-width: 1000px; 
    height: auto; 
}