<footer class="text-center text-lg-start text-white" style="background-color: #272727">

    <section class="p-4">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <img src="assets/images/footerLogo.png" width="150px" class="img-fluid mx-5">
                    <hr class="mb-4 mt-2 d-block " style="width: 300px; background-color: #ffffff; height: 2px" />
                    <p>
                        Fast, reliable prescription and health essentials delivery from e-pharma.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase k-theme">Quick Links</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #ffffff; height: 2px" />
                    <p>
                        <a href="#!" class="text-white">Home</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">About Us</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Services</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Contact Us</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase k-theme">Services</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #ffffff; height: 2px" />
                    <p>
                        <a href="#!" class="text-white">Delivery</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Purchase</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase k-theme" >Info</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #ffffff; height: 2px" />
                    <p> Privacy Policies</p>
                    <p>Terms & Conditions</p>
                </div>
            </div>
        </div>
    </section>
    <div class="ms-5 p-3" style="background-color: #272727">
        
        <p class="text-white">© 2020 Copyright: e-Pharma All Rights Reserved.</p>
    </div>
</footer>