<div class="col-md-10 col-lg-5 col-xl-4 order-2 order-lg-1 form-box">
    <div role="button" class="closebtn" ><img src="assets\svg\close.svg" alt=""  height="30px" width="30px"></div>
    <h1 class="text-center fw-bold pb-2">Sign Up</h1>

    <form  class="mx-1 mx-md-4" >
        <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0 ">
                <label class="form-label" for="fullName">Full Name</label>
                <input type="text" id="fullName" formControlName="fullName" class="form-control ">
            </div>
        </div>
        <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0 ">
                <label class="form-label" for="contactNo">Contact Number</label>
                <input type="text" id="contactNo" formControlName="contactNo" class="form-control" >
            </div>
        </div>
        <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0 ">
                <label class="form-label" for="email">Email</label>
                <input type="text" id="email" formControlName="email" class="form-control" >
            </div>
        </div>
        <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0 ">
                <label class="form-label" for="nic">Location</label>
                <input type="text" id="nic" formControlName="nic"  class="form-control ">
            </div>
        </div>
        <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0 ">
                <label class="form-label" for="userName">User Name</label>
                <input type="text" id="userName"  formControlName="userName" class="form-control " >
            </div>
        </div>
        <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0 ">
                <label class="form-label" for="password">Password</label>
                <input type="password" id="password" formControlName="password" class="form-control">
            </div>
        </div>
        <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0 ">
                <label class="form-label" for="conpwd">Con-Password</label>
                <input type="password" id="conpwd" formControlName="conpwd" class="form-control">
            </div>
        </div>
        <div class="d-flex justify-content-center mb-3 mb-lg-4 btn-subs">
            <button type="submit" class="btn btn-shape">Sign Up</button>
        </div>
        <div class="login">
            <p class="fw-light text-decoration-none">Already a member?<a class="fw-light text-decoration-none textlbl"href="">Sign in</a></p>
        </div>
    </form>
</div>

