<div class="col-md-10 col-lg-5 col-xl-4 order-2 order-lg-1 form-box">
    <div role="button" class="closebtn" ><img src="assets\svg\close.svg" alt=""  height="30px" width="30px"></div>
    <h1 class="text-center fw-bold">Login</h1>

    <form class="mx-1 mx-md-4" >
        <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0 pt-5">
                <label class="form-label" for="username">user Name</label>
                <input type="text" id="username"  name="username" class="form-control">
            </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
        </div>

        <div class="d-flex justify-content-center mb-3 mb-lg-4 btn-subs">
            <button type="submit" class="btn btn-shape">Login</button>
        </div>
        <div class="loginlbl">
            <p class="fw-light">Not a member <a class="textlbl" >Sign Up now</a></p>
        </div>
    </form>
</div>
                        
                        


