<div class="stack-cart-box pt-2 d-flex flex-column">
    <div class="d-flex justify-content-between align-items-center px-3 py-2">
        <button class="bg-transparent border-0 px-2" (click)="cartService.closeCartSideBar()">
            <i class="fa-solid fa-arrow-left text-white"></i>
        </button>
        <div class="fw-bold fs-5 text-white mb-0">Cart</div>
        <i class="fa-solid fa-cart-shopping text-white"></i>
    </div>

    <div class="row stack-item-outer py-3 flex-fill">
        <app-cartitem *ngFor="let cartItem of cartItems" [product]="cartItem"></app-cartitem>
    </div>
    <div class="container px-0 mt-3 position-absolute bottom-0">
        <div class="d-flex py-3 px-5 justify-content-between cal-cart" style="background-color: #004AAD;">
            <div>
                <div class="text-white fs-6">Total Price</div>
                <div class="text-white fs-5 fw-bold">LKR {{cartService.cartTotalPrice}}</div>
            </div>
            <div class="d-inline-flex">
                <button class="btn px-4 me-2" style="background-color: white;"
                    (click)="cartService.clear()">Clear</button>
                <button [disabled]="cartItems.length == 0" class="btn btn-light" style="background-color: white;"
                   (click)="checkout()">Check Out</button>
            </div>
        </div>
    </div>

</div>