.form-box{
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(237, 242, 244);
    width: 50%;
}
.btn-subs{
    padding-top: 20px;
}
.btn-shape{
    border:1px solid #0B254B;
    background-color: rgb(255, 255, 255);
    color: #0B254B;
    border-radius: 10px;
}
.btn-shape:hover{
    background-color: #0B254B;
    color: white;
    border: none;
}
.div{
    display: flex;
    flex-direction: flex-end;
}
.loginlbl p{
    color: rgb(43, 45, 66);
}
.alert {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1050;
    width: auto;
  }